html, body, #viewDiv {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .header {
    background-color: #000000;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}

.dropbtn {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 18px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
  

  footer {
    background-color: #000000;
    color: rgb(0, 0, 0);
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }